.searchHeader {
    text-align: center;
    color: white;
}

#result-content {
    color: white;
}

#result-text {
    text-align: center;
    color: red;
}

.searchTitle {
    text-align: center;
}

.poster {
    height: 426px;
    width: 320px;
}

.searchEl {
    align-items: center;
}