.searchHeader {
    text-align: center;
    color: white;
}

#result-content {
    color: white;
}

#result-text {
    text-align: center;
    color: red;
}

.searchTitle {
    text-align: center;
}

.poster {
   
}