* {
    box-sizing: border-box;
    /* padding: 10px;
    margin: 10px; */
}

/* Body HTML */

html, body {
    height: 100vh;
}

li{
    display: flex;
}

ul {
    list-style: none;
}
.row{
    display: flex;
    justify-content: left;
}

body {
    padding: 50px;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(1,11,20,1) 34%, rgba(1,22,39,1) 77%, rgba(81,218,246,1) 100%);
    
}

#search-btn {
    background-color: #189eb9;
    color: white;
    
}

#clearBtn {
    background-color: #189eb9;
    color: white;
}

#my-playlist {
    background-color: #189eb9;
    color: white;
}

button:focus{
    outline: none;
}

#get-info {
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(1,11,20,1) 34%, rgba(1,22,39,1) 77%, rgba(81,218,246,1) 100%);
    color: white;
    width: fit-content;
}

.delete-me {
    background-color: red;
    border: 2px solid black;
    width: 30px;
    
}
